<h1 style=color:red>User Details</h1><br>
<p><strong>Name:</strong> <%= @user.first_name%></p>
<p><strong>Email:</strong> <%= @user.email %></p>

<%= link_to "Destroy", user_path(@user.id),
method: :delete,
data: {confirm:'Are you sure ?'} %><br><br>
<%= link_to "Back", users_path %>
