<h4><%= link_to 'Back to Dashboard', root_path %></h4><br>
<h4 style="color:red;">Order-Items Details</h4><br>

<table class="table table-bordered">
  <tr>
    <th>ID</th>
    <th>Total</th>
  </tr>
  <tbody>
    <% if @order_item.present? %>
      <% @order_item.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= order.grand_total %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% if @order_item %>
  <%= link_to generate_pdf_order_path(@order_item, format: :pdf), class: 'btn btn-primary', target: '_blank' do %>
    Download Bill
  <% end %>
<% else %>
  <p>No cart available.</p>
<% end %>
