<h1><%= link_to "Add new Product", new_product_path, class: "btn btn-primary" %></h1>
<h4><%= link_to 'Back to dashboard', root_path %></h4><br>
<h1 style="color:red">Products List</h1>
<table class="table table-bordered">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <%= render(@products) || "There are no data" %>
</table>
